/* VIDEO */
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -999;
  opacity: .5;
}

/* ANIMATION */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.h1__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: font-size .5s ease;
}

/* HERO SECTION */
.hero-container {
  /* background: url('https://vod-progressive.akamaized.net/exp=1695351645~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F4728%2F9%2F248644905%2F900760521.mp4~hmac=5071e70fe2aeff888c304d72547928e9f37fbadc4653d60648ab878e7bb23844/vimeo-prod-skyfire-std-us/01/4728/9/248644905/900760521.mp4?filename=file.mp4') center center/cover no-repeat; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* object-fit: contain; */
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.601);
 
  z-index: -999; */
}


@media screen and (min-width: 768px) {
  .hero-container {
    min-height: 100vh;
  }
  video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
}

@media screen and (max-width: 390px) {
  .hero-container {
    min-height: 50vh;
  }
  video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
}
