.navbar {
  /* color: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(26, 23, 23) 100%); */
  background-color: #040408;
  /* height: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  /* height: 80px; */
  /* max-width: 1500px; */
  font-weight: 700;
  background-color: #040408;
  justify-content: center;
  width: 100%;
  font-size: 1.1rem;

}

.navbar-logo {
  color: #fff;

  /* margin-left: 2rem; */
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;

}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.fa-code {
  margin-left: 0.5rem;
  font-size: 1.8rem;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 65vw;
  justify-content: end;
  /* margin-right: 2rem; */
  margin-bottom: 0;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  font-weight: 700;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.nav-links.active {
  color: #18bfef;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (min-width: 1920) {
  .navbar-container {
    display: flex;
    align-items: center;
    font-weight: 700;
    background-color: #040408;
  }

}

/* Menu  */
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: start;

  }

  .nav-menu.active {
    background: #040408;
    top: 100%;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar-logo {
    margin-left: 2rem;
    font-size: 1.8rem;
    justify-content: center;
  }

  .menu-icon {
    display: flex;
    position: absolute;
    /* top: 0; */
    right: 0;
    transform: translate(-100%, 0%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 16px;
    width: 30%;
    text-decoration: none;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #18bfef;
    transition: 250ms;
  }

  .nav-menu>ul {
    padding: 0;
  }
}